@use "@/sass" as *;

.presentation {
  padding: 2rem 1rem;
  background-color: $white;
  color: $dark_color;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  max-width: $max-section-width;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 4rem 2rem;
  }
}

.block {
  @include block;
}

.textContent {
  @include text-content-block;
}

.meta {
  font-size: $font_size_md;
  line-height: $line_height_xl;
  font-weight: $font_weight_medium;

  p {
    margin: 0.3rem 0;
    color: $title_color;
  }
}

.description,
.technologies,
.goal {
  font-size: $font_size_md;
  line-height: $line_height_xxl;
  font-weight: $font_weight_regular;
  color: $description_color;
}

.imageWrapper {
  text-align: center;

  .image {
    @include image();
  }
}

.features {
  text-align: center;
}

.featureList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2.5rem;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}
