@use '@/sass' as *;

.container {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: $title_color;
}

.tree {
  list-style: none;
  padding-left: 1rem;
}

.node {
  margin-bottom: 4px;
}

.folder {
  font-weight: $font_weight_semibold;
  color: $folder_color;
  position: relative;
  padding-left: 20px;

  &::before {
    content: '📁';
    position: absolute;
    left: 0;
  }
}

.file {
  font-weight: $font_weight_regular;
  color: $file_color;
  position: relative;
  padding-left: 20px;

  &::before {
    content: '📄';
    position: absolute;
    left: 0;
  }
}
