@use "@/sass" as *;

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  min-width: 100%;
  max-width: 48rem;
  scroll-snap-align: start;
  box-sizing: border-box;
  margin: 0 auto;
}

.text {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.imageWrapper {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.description {
  @include text;
}

.cta {
  @include cta;
}
