@use 'variables' as *;

/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/

// Mixin for the Header and the Mobile Navigation Header
@mixin header-layout($color: $primary_color, $padding: 1rem) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
  color: $color;
}

// Mixin for the links
@mixin link(
  $font-family: $main_font,
  $color: inherit,
  $hover_color: $secondary_color,
  $font-size: 1.2rem,
  $font-weight: 600,
  $text-transform: uppercase,
  $letter-spacing: 0.1rem
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  text-transform: $text-transform;
  letter-spacing: $letter-spacing;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: $color;

  &:hover {
    color: $hover_color;
    text-decoration: underline;
  }
}

@mixin link-active($color: $secondary_color) {
  color: $color;
  text-decoration: underline;
}

@mixin button() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $btn_color;
  color: $light_color;
  padding: 0.75rem 1.5rem;
  font-size: $font_size_sm;
  font-weight: $font-weight_bold;
  border: none;
  cursor: pointer;
  transition:
    background 0.3s,
    transform 0.3s;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: $btn_color_hover;
    transform: translateY(-2px);
  }
}

@mixin cta() {
  margin-top: 1.5rem;
  width: fit-content;
}

// Mixin for a block like you can see in the Home page Presentation section
@mixin block($column-desktop: 1fr 1fr, $column-mobile: 1fr, $gap: 4rem, $align-items: center) {
  display: grid;
  grid-template-columns: $column-desktop;
  gap: $gap;
  align-items: $align-items;

  @media (max-width: 900px) {
    grid-template-columns: $column-mobile;
  }
}

@mixin text-content-block($bg-color: $light_gray) {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: $bg-color;
  padding: 1rem 0.5rem;
  border-radius: $border_radius_xl;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);

  @media (min-width: 768px) {
    padding: 2rem 2.5rem;
  }
}

@mixin image(
  $width: 100%,
  $height: auto,
  $object-fit: cover,
  $border-radius: 0,
  $display: block,
  $box-shadow: none,
  $scale: scale(1.01)
) {
  width: $width;
  height: $height;
  object-fit: $object-fit;
  display: $display;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transform: $scale;
}

@mixin text(
  $font_size: $font_size_md,
  $line_height: $line_height_xxl,
  $font_weight: $font_weight_regular,
  $description_color: $description_color
) {
  font-size: $font_size;
  line-height: $line_height;
  font-weight: $font_weight;
  color: $description_color;
}

@mixin image_with_mask() {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
  box-shadow: none;
  mask-image: linear-gradient(to right, rgba($dark_color, 0.15), rgba(0, 0, 0, 1));
  transition: transform 0.4s ease;

  &:hover {
    transform: scale(1.02);
  }
}

@mixin error() {
  background-color: $error_chip;
  color: $light_color;
  transition: background 0.3s;
  &:hover {
    background-color: $error_chip_hover;
  }
}

@mixin success() {
  background-color: $success_chip;
  color: $light_color;
  transition: background 0.3s;
  &:hover {
    background-color: $success_chip_hover;
  }
}

@mixin warning() {
  background-color: $warning_chip;
  color: $light_color;
  transition: background 0.3s;
  &:hover {
    background-color: $warning_chip_hover;
  }
}

@mixin info() {
  background-color: $info_chip;
  color: $light_color;
  transition: background 0.3s;
  &:hover {
    background-color: $info_chip_hover;
  }
}

@mixin message() {
  background-color: $chip_background_color;
  color: $dark_color;
  transition: background 0.3s;
  &:hover {
    background-color: $chip_bg_color_hover;
  }
}
