@use "sass:color";

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Width and height
--------------------------------------------------------------*/

$max-section-width: 1500px;

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

// fonts family

$main_font: "Poppins";
$cursive_font: "Corinthia";

// font sizes
$font_size_xs: 0.8rem;
$font_size_sm: 1rem;

$font_size_md: 1.2rem;
$font_size_lg: 1.5rem;
$font_size_xl: 2rem;
$font_size_2xl: 3rem;
$font_size_3xl: 4rem;
$font_size_4xl: 5rem;
$font_size_5xl: 6rem;
$font_size_6xl: 7rem;
$font_size_7xl: 8rem;
$font_size_8xl: 9rem;
$font_size_9xl: 10rem;

// font weights
$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;
$font_weight_black: 900;
$font_weight_extra_bold: 800;
$font_weight_thin: 100;
$font_weight_semibold: 600;
$font_weight_extralight: 200;
$font_weight_extrabold: 900;

// font styles
$font_style_normal: normal;
$font_style_italic: italic;
$font_style_oblique: oblique;
$font_style_black: black;

// text transform
$text_transform_none: none;
$text_transform_capitalize: capitalize;
$text_transform_uppercase: uppercase;
$text_transform_lowercase: lowercase;

// Text alignment
$text_align_left: left;
$text_align_right: right;
$text_align_center: center;
$text_align_justify: justify;

// Line height
$line_height_xs: 1;
$line_height_sm: 1.2;
$line_height_md: 1.4;
$line_height_lg: 1.6;
$line_height_xl: 1.8;
$line_height_xxl: 1.9;
$line_height_2xl: 2;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

// Main colors

$dark_color: #151515;
$light_color: #f5f5f5;
$white: #fff;
$primary_color: #ee0e5b;
$secondary_color: #d9b36c;
$tertiary_color: #7e869e;

// Text colors
$title_color: #333;
$description_color: #444;
$subheading_color: color.adjust($secondary_color, $blackness: 5%);

// Icon colors
$stars_color: #d4af37;

// Background colors
$chip_background_color: #f0f0f0;
$chip_bg_color_hover: color.adjust($chip_background_color, $blackness: 10%);
$white_gradient: color.adjust($white, $blackness: 5%);
$light_gray: #fafafa;

$btn_color: $primary_color;
$btn_color_hover: color.adjust($primary_color, $lightness: 10%);
$btn_primary_color_hover: color.adjust($primary_color, $lightness: 10%);
$btn_primary_color_active: color.adjust($primary_color, $blackness: 10%);
$btn_secondary_color_hover: color.adjust($secondary_color, $lightness: 10%);
$btn_secondary_color_active: color.adjust($secondary_color, $blackness: 10%);
$btn_color_tertiary_hover: color.adjust($tertiary_color, $lightness: 10%);
$btn_color_tertiary_active: color.adjust($tertiary_color, $blackness: 10%);
$btn_color_disabled: color.adjust($tertiary_color, $lightness: 30%);
$btn_color_disabled_hover: color.adjust($btn_color_disabled, $blackness: 5%);

/*--------------------------------------------------------------
# Borders
--------------------------------------------------------------*/

// Border radius
$border_radius_none: 0;
$border_radius_sm: 0.2rem;
$border_radius_md: 0.5rem;
$border_radius_lg: 1rem;
$border_radius_xl: 1.25rem;
$border_radius_2xl: 1.5rem;
$border_radius_3xl: 2rem;
$border_radius_4xl: 2.5rem;
$border_radius_5xl: 3rem;
$border_radius_full: 9999px;
