@use '@/sass' as *;

.container {
  padding: 20px 5px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;

  @media (min-width: 768px) {
    width: 80%;
    padding: 20px;
  }
}

.initLayout {
  text-align: center;

  @media (max-width: 768px) {
    padding: 10px;

    a {
      h1 {
        font-size: $font_size_xl;
      }
    }
  }
}

.link {
  @include link($text-transform: inherit);
}

.image {
  @include image;
  width: 100%;
  height: auto;
  &_center {
    margin: 0 auto;
  }
}
