@use '@/sass' as *;

.techItem {
  background: $chip_background_color;
  padding: 0.6rem 1.2rem;
  border-radius: $border_radius_full;
  font-size: $font_size_sm * 0.95; // ! **IF CHANGE HAPPEN ITS COULD HAVE UNDESIRED EFFECT ON THE UI** !
  font-weight: $font_weight_semibold;
  color: $title_color;
  transition: background 0.3s;
  width: fit-content;

  &:hover {
    background: $chip_bg_color_hover;
  }
}

.error {
  background-color: $error_chip;
  color: $light_color;
  transition: background 0.3s;
  &:hover {
    background-color: $error_chip_hover;
  }
}

.success {
  background-color: $success_chip;
  color: $light_color;
  transition: background 0.3s;
  &:hover {
    background-color: $success_chip_hover;
  }
}

.warning {
  background-color: $warning_chip;
  color: $light_color;
  transition: background 0.3s;
  &:hover {
    background-color: $warning_chip_hover;
  }
}

.info {
  background-color: $info_chip;
  color: $light_color;
  transition: background 0.3s;
  &:hover {
    background-color: $info_chip_hover;
  }
}

.message {
  background-color: $chip_background_color;
  color: $dark_color;
  transition: background 0.3s;
  &:hover {
    background-color: $chip_bg_color_hover;
  }
}
