@use '@/sass' as *;

.h1 {
  font-size: $font_size_2xl;
  font-weight: $font_weight_extra_bold;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    font-size: $font_size_3xl;
  }
}

.h2 {
  font-size: $font_size_xl;
  font-weight: $font_weight_bold;
  margin-bottom: 0.75rem;

  @media (min-width: 768px) {
    font-size: $font_size_2xl;
  }
}

.h3 {
  font-size: $font_size_lg;
  font-weight: $font_weight_semibold;
  margin-bottom: 0.5rem;

  @media (min-width: 768px) {
    font-size: $font_size_xl;
  }
}

.h4 {
  font-size: $font_size_lg;
  font-weight: $font_weight_semibold;
}

.h5 {
  font-size: $font_size_md;
  font-weight: $font_weight_medium;
}

.h6 {
  font-size: $font_size_sm;
  font-weight: $font_weight_medium;
  text-transform: $text_transform_uppercase;
  letter-spacing: 1px;
}

.heading {
  text-align: $text_align_center;
  margin-bottom: 1rem;
  color: $title_color;
}

.subheading {
  font-size: $font_size_lg;
  font-weight: $font_weight_bold;
  color: $subheading_color;

  &_link {
    font-size: $font_size_lg;
    font-weight: $font_weight_bold;
    color: $subheading_color;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hero_title {
  font-family: $cursive_font;
  font-size: $font_size_3xl;
  font-weight: bold;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    font-size: $font_size_8xl;
  }
}

.hero_subtitle {
  font-family: $cursive_font;
  font-size: $font_size_xl;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    font-size: $font_size_3xl;
  }
}

.section_title {
  font-size: $font_size_xl;
  font-weight: $font_weight_bold;
  margin-bottom: 1rem;
  color: $title_color;
  text-align: $text_align_center;

  @media (min-width: 768px) {
    font-size: $font_size_2xl;
  }
}

.link {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $secondary_color;
    text-decoration: underline;
  }
}
