@use '@/sass' as *;

.container {
  display: flex;
  height: 100vh;
}

.doc_wrapper {
  flex: 1;
  display: flex;
  padding: 1rem;
  place-content: center;

  @media (max-width: 768px) {
    padding: 0.5rem;
    display: block;
  }
}
